header {
    background-color: black;
}

a, button {
    padding: 8px 16px;
}

button {
    background-color: #ff5757;
}

.checkout-link {
    background-color: grey;
}

.register-link {
    background-color: #272727;
}

.login-link {
    background-color: #f89a2f;
}