<article>
    <div class="img-container">
        <img src="{{ imageUrl }}" alt="Image failed to load">
        @if (!isAvailable) {
            <p class="unavailable">Produit Indisponible</p>
        }
    </div>
    <h3>{{ name }}</h3>
    <p class="product-price">{{ price }} €</p>
    <div class="buttons-container">
        <a routerLink="/product/{{ id }}"> ! </a>
        <app-button-component [text]="'Ajouter au panier'" [disabled]="!isAvailable" (clicked)="onAddToCart(currentProduct)!"></app-button-component>
    </div>
</article>