main {
    background-color: black;
}

h3 {
    margin: 5px 0;
}

.img-container {
        position: relative;
        text-align: left;
        width: 40%;
        img {
            border-radius: 10px;
        }
        p {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #ff5757;
            border-radius: 5px;
            padding: 4px 6px;
        }
}

article {
    display: flex;
    color: white;
    background-color: black;
    margin: 30px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 24%;
}

.other-products-container {
    margin: 30px;
}

.content-container {
    margin: 100px 2rem;
    h3, p, .price-container {
        margin-bottom: 10px;
    }
}

.price-container {
    display: flex;
    p {
        margin-right: 10px;
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 4px 8px;
        font-weight: bold;
    }
}
